/* 
font-family: 'Alata', sans-serif;
font-family: 'Poppins', sans-serif;
*/


body {
    box-sizing: border-box;
    margin: 0;
    background-image: url(images/gotham-hero.jpg);
    background-size: cover;
}

main {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

.title-container {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #134247;
    box-shadow: 0px 0px 10px 0px;

}

.title {
    color: white;
    font-family: 'Alata', sans-serif;
    margin: 0;
}

.dropdown-container {
    height: 50px;
    display: flex;
}

select {
    width: 250px;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    padding-left: 1rem;
    outline: none;
    box-shadow: inset 0 0 10px lightgray;
    cursor: pointer;
    background-color: white;
}

.button-container {
    display: flex;
}

.random-btn, .meme-btn {
    margin: 0rem 1.5rem;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    margin-top: 2rem;
    border-radius: 15px;
    outline: none;
    border: solid 0.5px grey;
    font-size: 12px;
    cursor: pointer;
}

.meme-btn {
    color: whitesmoke;
    background-color: #123b3f;
}

.meme-btn:hover {
    background-color: #1b5b61;
    color: whitesmoke;
    box-shadow: inset 0 0 10px #123b3f;   

}

.random-btn {
    color: white;
    background-color: #fa8500;
}

.random-btn:hover {
    background-color: #fa8500;
    box-shadow: inset 0 0 10px #703c00;  

}

#superhero-card-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    background-color: #1b5b61;
    height: auto;
    width: 300px;
    border-radius: 15px;
    border: solid 5px white;
    box-shadow: 0 8px 6px -6px black;
}

.superhero-name, .superhero-name-blurb {
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    text-transform: uppercase;
}

.welcome-blurb-container {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 4rem 0;
}

.welcome-blurb {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}

.superhero-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;

}

.image-container {
    position: relative;
    text-align: center;
    border-radius: 15px;
    background-color: #323232;
    height: 250px;
    width: 80%;
    background-position: center;
    background-size: cover;
    border: solid 2px grey;
}

#question {
    width: 250px;
    font-size: 13px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}

#answer {
    width: 250px;
    font-size: 16px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: goldenrod;
}

.meme-caption {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    right: 0.1rem;
    left: 0.1rem;
    display: flex;
    align-items: flex-start;
    text-transform: uppercase;
    font-family: sans-serif;
    color: white;
    font-weight: 600;
    text-shadow: 2px 2px 4px #00000050;
    background-color: inherit;
    max-width: 280px;
    overflow: hidden;
    background-color: #20202073;
}

.meme-modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.meme-modal-content {
    border-radius: 15px;
    background-color: #323232;
    border: 5px solid #9f0d00;
    width: 325px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 5px 5px 20px;
}

textarea {
border-radius: 15px;
padding: 10px;
text-align: center;
outline: none;
color: white;
background-color: #1f1e1e;
}

.meme-input {
font-family: 'Poppins', sans-serif;
/* height: 50px; */
padding: 10px;
margin-bottom: 0.2rem;
border-radius: 15px;
outline: none;
border: none;
font-size: 12px;
color: whitesmoke;
background-color: rgb(0, 138, 140);
box-shadow: inset 0 0 10px rgb(0, 102, 104);
cursor: pointer;
border: solid 2px rgb(1, 90, 92);
}

.meme-input:hover {
background-color: rgb(1, 199, 202);
color: black;
}

.buttons {
    display: flex;
}

.close-modal {
font-family: 'Poppins', sans-serif;
padding: 10px;
margin-bottom: 0.2rem;
border-radius: 15px;
outline: none;
border: none;
font-size: 12px;
color: black;
background-color: #c71313;
box-shadow: inset 0 0 10px rgb(87, 1, 1);
cursor: pointer;
margin-left: 1rem;
color: whitesmoke;
border: solid 2px maroon;
font-weight: 600;
}

.close-modal:hover {
background-color: #700202;
color: white;
}

@media only screen and (min-width: 750px) {
    #superhero-card-container {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        background-color: #1b5b61;
        height: 65vh;
        width: 65%;
        border-radius: 15px;
        border: solid 5px white;
        box-shadow: 0 8px 6px -6px black;
    }

    .superhero-card {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        /* width: 80vw; */
    }

    .image-container {
        position: relative;
        text-align: center;
        border-radius: 15px;
        background-color: #323232;
        height: 50vh;
        width: 25vw;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border: solid 2px grey;
        margin: 0 2rem;
    }

    .superhero-name-blurb {
        font-family: 'Poppins', sans-serif;
        color: aliceblue;
        text-transform: uppercase;
        font-size: 45px;
    }

    .welcome-blurb-container {
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;
        margin: 0 0;
    }

    .welcome-blurb {
        font-size: 24px;
        max-width: 75%;
    }

    .joke-container {
        display: flex;
        flex-direction: column;
    }

    #question {
        width: 50vw;
        font-size: 13px;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        color: white;
    }
    
    #answer {
        margin-top: 0;
        width: 50vw;
        font-size: 16px;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        color: goldenrod;
    }
  }

.hidden {
    display: none;
}
