/* 
font-family: 'Alata', sans-serif;
font-family: 'Poppins', sans-serif;
*/


main {
    background-color: #323232;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4c4c4c;
    width: 375px;
    height: 812px;
    border-left: solid 2px black;
    border-right: solid 2px black;

}

.title-container {
    margin-bottom: 1rem;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9f0d00;
    box-shadow: 0px 0px 10px 0px;

}

.title {
    color: white;
    font-family: 'Alata', sans-serif;
    margin: 0;
}

.dropdown-container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}

select {
    width: 250px;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    padding-left: 1rem;
    outline: none;
    box-shadow: inset 0 0 10px lightgray;
}

.button-container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.randomBtn, .memeBtn {
    margin: 0rem 1.5rem;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    height: 50px;
    margin-top: 2rem;
    border-radius: 15px;
    outline: none;
    border: none;
    font-size: 12px;
}

.memeBtn {
    color: black;
    background-color: #88e410;
    box-shadow: inset 0 0 10px rgb(20, 119, 0);   
}

.memeBtn:hover {
    background-color: #027007;
}

.randomBtn {
    color: white;
    background-color: #1077e4;
    box-shadow: inset 0 0 10px darkblue;   
}

.randomBtn:hover {
    background-color: #034081;
}

#superhero-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.2rem;
    background-color: #323232;
    height: 550px;
    width: 300px;
    border-radius: 15px;
    border: solid 5px white;
    box-shadow: 5px 5px 20px;
}

.superhero-name {
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    text-transform: uppercase;
}

.welcome-blurb-container {
    width: 250px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-blurb {
    margin: 0;
    padding: 0;
    /* width: 220px; */
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}

.superhero-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.image-container {
    position: relative;
    text-align: center;
    border-radius: 15px;
    background-color: #323232;
    height: 350px;
    width: 80%;
    background-position: center;
    background-size: cover;
    border: solid 2px grey;
}

#question {
    width: 250px;
    font-size: 13px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}

#answer {
    width: 250px;
    font-size: 16px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: goldenrod;
}

.meme-caption {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
    text-transform: uppercase;
    font-family: sans-serif;
    color: white;
    font-weight: 600;
    text-shadow: 2px 2px 4px #000000;}

.meme-modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.meme-modal-content {
    border-radius: 15px;
    background-color: #323232;
    border: 5px solid #9f0d00;
    width: 325px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 5px 5px 20px;
  }

  textarea {
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    outline: none;
  }

  .meme-input {
    font-family: 'Poppins', sans-serif;
    /* height: 50px; */
    padding: 10px;
    margin-bottom: 0.2rem;
    border-radius: 15px;
    outline: none;
    border: none;
    font-size: 12px;
    color: black;
    background-color: #88e410;
    box-shadow: inset 0 0 10px rgb(20, 119, 0);
  }

  .meme-input:hover {
    background-color: #027007;
    color: white;
  }

.hidden {
    display: none;
}
